/*IMPORT FONTS*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap");

body {
  color: #5f5d5d;
}
.bg-green-color {
  background-color: #94cb00;
}
.bg-blue-color {
  background-color: #06a4be;
}
.green-color {
  color: #94cb00 !important;
}
.blue-color {
  color: #06a4be !important;
}
.text-white {
  color: white !important;
}
.text-black {
  color: #414141 !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif !important;
}

/*==============ANIMATIONS=================*/

/*==============ROTATE=====================*/

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*==============ROTATE-REV=================*/

@-webkit-keyframes rotate-rev {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes rotate-rev {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

/*==============PULSE======================*/

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.1);
    opacity: 0.2;
  }
  50% {
    -webkit-transform: scale(1);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: scale(0.1);
    opacity: 0.2;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.2;
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.2;
  }
}

/*******************LOADER****************/
.loader1 {
  overflow: hidden !important;
}

.loading-area {
  width: 100%;
  height: 100%;
  background-color: #f6fcff;
  position: fixed;
  z-index: 999999;
}

.circle {
  width: 180px;
  height: 180px;
  border: 10px inset rgb(133, 224, 242);
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -100px;
  border-radius: 200px;
  -webkit-animation: rotate 5s infinite linear;
  animation: rotate 5s infinite linear;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.circle-small {
  width: 150px;
  height: 150px;
  border: 6px outset rgb(133, 224, 242);
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -85px;
  margin-top: -85px;
  border-radius: 156px;
  -webkit-animation: rotate-rev 3s infinite linear;
  animation: rotate-rev 3s infinite linear;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.circle-big {
  width: 210px;
  height: 210px;
  border: 4px dotted #94cb00;
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -114px;
  margin-top: -114px;
  border-radius: 214px;
  -webkit-animation: rotate-rev 10s infinite linear;
  animation: rotate-rev 10s infinite linear;
}

.circle-inner {
  width: 80px;
  height: 80px;
  background-color: rgb(133, 224, 242);
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -48px;
  margin-top: -50px;
  border-radius: 80px;
  -webkit-animation: pulse 1.5s infinite ease-in;
  animation: pulse 1.5s infinite ease-in;
  opacity: 1;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.circle-inner-inner {
  width: 100px;
  height: 100px;
  background-color: rgb(74, 124, 134);
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -58px;
  margin-top: -60px;
  border-radius: 100px;
  -webkit-animation: pulse 1.5s infinite ease-in;
  animation: pulse 1.5s infinite ease-in;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/******************GET ADMISSION SECTION STARTS***************/
#get-admission {
  margin-bottom: 125px;
}

.bg-admission-img {
  background-image: url("../img/admission-img.png");
  position: relative;
  min-height: 300px;
}

#get-admission .overlay-admission {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

#get-admission .admission-text {
  margin-top: 150px;
  margin-bottom: 150px;
}

#get-admission {
  margin-bottom: 60px;
}

.blue-btn {
  background-color: #00b0cd;
  border: 1px solid #00b0cd;
  cursor: pointer;
  padding: 9px 35px 9px 35px;
  text-align: center;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.blue-btn:hover {
  background-color: #94cb00;
  border: 1px solid #94cb00;
}

a.btn {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255) !important;
  text-decoration: none;
  line-height: 1.8;
  font-weight: bold;
  margin-top: 50px;
}

.sub-heading {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}
